C:/Users/eduardo.quero/Documents/Cientista[[:space:]]de[[:space:]]Dados/Módulo[[:space:]]17[[:space:]]-[[:space:]]Árvores[[:space:]]II[[:space:]](Parte[[:space:]]II-[[:space:]]árvore[[:space:]]de[[:space:]]classificação)/Exercício[[:space:]]1/output/X_train.csv filter=lfs diff=lfs merge=lfs -text
